@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #09090B;
}
::selection {
    color: var(--foreground);
    background-color: #F97316;
}
body {
  color: var(--foreground);
  background: var(--background);
}

/* glowing border button animation  */
@keyframes border-glow {
    0% {
      border-color: #F97316;
    }
    50% {
      border-color: orange;
    }
    100% {
      border-color: #F97316;
    }
}
.animate-border-glow {
    animation: border-glow 1.5s infinite;
}

/* HGS button hover shine layer css */
.hover-shine-layer {
    background-image: linear-gradient(
      45deg,
      transparent 50%,
      rgba(255, 255, 255, 0.03) 58%,
      rgba(255, 255, 255, 0.16) 67%,
      transparent 68%
    );
  }


/* hover glow bg animation button */
.glowing-bg-button::before{
    background: linear-gradient(
        45deg,
        #ff0000, #ff7300, #fffb00, #48ff00,
        #00ffd5, #002bff, #ff00c8, #ff0000
    );
    background-size: 600%;
    animation: glowing 20s linear infinite;
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
