@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #09090B;
}
::selection {
    color: var(--foreground);
    background-color: #F97316;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* glass button shiny border animation  */
@keyframes shine {
    0% {
        opacity: 1;
        box-shadow: 0 0 10px 3px #00bfff;
    }
    50% {
        opacity: 0.5;
        box-shadow: 0 0 20px 5px #00bfff;
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 10px 3px #00bfff;
    }
}

.animate-shine {
    animation: shine 1.5s infinite;
}
